.root {
  display: inline-block;
  border: none;
  padding: 10px 24px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 4px;
  line-height: 1.538rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}
