@namespace "Button";

.root {
  display: inline-block;
  border: none;
  padding: 10px 24px;
  height: 40px;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2px;
  border-radius: 4px; /* $border-radius-small */
  line-height: 1.538rem; /* $subtitle-line-height */
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;

  -st-states: primary, secondary, danger;
}

.root:not(:disabled) {
  cursor: pointer;
}

/* TODO: Create variables file? */
.root:primary {
  background-color: #2053af; /* $cobalt */
  border-color: #2053af; /* $cobalt */
  color: #fff; /* $white */
}

.root:primary:hover {
  color: #fff; /* $white */
  background-color: #2662cf; /* $semi-cobalt */
}

.root:primary:active {
  color: #fff; /* $white */
  background-color: #19428c; /* $dark-cobalt */
}

.root:secondary {
  border: none;
  color: #949a9d /* $gray-50 */;
  background-color: #f6f7f8 /* $gray-10 */;
}

.root:secondary:hover {
  color: #949a9d /* $gray-50 */;
  background-color: #edf1f2 /* $gray-20 */;
}

.root:secondary:active {
  color: #fff /* $white */;
  background-color: #484c4f /* $gray-70 */;
}

.root:danger {
  border: none;
  color: #fff /* $white */;
  background-color: #e53935 /* $red */;
}
