//
// Variables
// --------------------------------------------------

//== Colors
//
//## Follow kata design system

$white: #ffffff !default;
$red: #e53935 !default;
$green: #00c853 !default;
$yellow: #ffc400 !default;

$soft-kata-blue: #d8ebff !default;
$light-kata-blue: #7fbcff !default;
$kata-blue: #006fe6 !default;

$light-cobalt: #6386c7 !default;
$semi-cobalt: #2662cf !default;
$cobalt: #2053af !default;
$dark-cobalt: #19428c !default;

$gray-10: #f6f7f8 !default;
$gray-20: #edf1f2 !default;
$gray-30: #e2e6e8 !default;
$gray-40: #c2c7c8 !default;
$gray-50: #949a9d !default;
$gray-60: #676b6d !default;
$gray-70: #484c4f !default;
$gray-80: #24282d !default;
