//
// Variables
// --------------------------------------------------

//== Colors
//
//## Follow kata design system

$white: #ffffff !default;
$red: #e53935 !default;
$green: #00c853 !default;
$yellow: #ffc400 !default;

$soft-kata-blue: #d8ebff !default;
$light-kata-blue: #7fbcff !default;
$kata-blue: #006fe6 !default;

$light-cobalt: #6386c7 !default;
$semi-cobalt: #2662cf !default;
$cobalt: #2053af !default;
$dark-cobalt: #19428c !default;

$gray-10: #f6f7f8 !default;
$gray-20: #edf1f2 !default;
$gray-30: #e2e6e8 !default;
$gray-40: #c2c7c8 !default;
$gray-50: #949a9d !default;
$gray-60: #676b6d !default;
$gray-70: #484c4f !default;
$gray-80: #24282d !default;

//== Spacing
//
$space-1: 0.615384615rem !default;
$space-2: 1.230769231rem !default;
$space-3: 1.846153846rem !default;
$space-4: 2.461538462rem !default;
$space-5: 3.076923077rem !default;
$space-6: 3.692307692rem !default;
$space-7: 4.307692308rem !default;
$space-8: 4.923076923rem !default;
$space-9: 5.538461538rem !default;
$space-10: 6.153846154rem !default;

$space-list: $space-1 $space-2 $space-3 $space-4 $space-5 $space-6 $space-7
  $space-8 $space-9 $space-10 !default;

//== Typography
$font-family: 'MuseoSansRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$root-font-size: 13px !default;
$root-line-height: 20px !default;
