@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-100.otf');
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-100Italic.otf');
  font-style: italic;
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-300.otf');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-300Italic.otf');
  font-style: italic;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-500.otf');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-500Italic.otf');
  font-style: italic;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-700.otf');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-700Italic.otf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-900.otf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('https://kata.blob.core.windows.net/static/museo-sans/files/MuseoSans-900Italic.otf');
  font-style: italic;
  font-weight: 900;
}
