@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Objective Thin'), local('Objective-Thin'), url('./fonts/objective/Objective-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Objective Thin'), local('Objective-Thin-Italic'),
    url('./fonts/objective/Objective-Thin-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Objective Thin'), local('Objective-Thin'), url('./fonts/objective/Objective-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Objective Thin'), local('Objective-Thin-Italic'),
    url('./fonts/objective/Objective-Thin-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Objective Light'), local('Objective-Light'),
    url('./fonts/objective/Objective-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Objective Light'), local('Objective-Light-Italic'),
    url('./fonts/objective/Objective-Light-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Objective'), local('Objective-Regular'), url('./fonts/objective/Objective-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Objective'), local('Objective-Italic'), url('./fonts/objective/Objective-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Objective Medium'), local('Objective-Medium'),
    url('./fonts/objective/Objective-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Objective Medium'), local('Objective-Medium-Italic'),
    url('./fonts/objective/Objective-Medium-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Objective Medium'), local('Objective-Medium'),
    url('./fonts/objective/Objective-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Objective Medium'), local('Objective-Medium-Italic'),
    url('./fonts/objective/Objective-Medium-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Objective Bold'), local('Objective-Bold'), url('./fonts/objective/Objective-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Objective Bold'), local('Objective-Bold-Italic'),
    url('./fonts/objective/Objective-Bold-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Objective Extra Bold'), local('Objective-ExtraBold'),
    url('./fonts/objective/Objective-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Objective Extra Bold'), local('Objective-ExtraBold-Italic'),
    url('./fonts/objective/Objective-ExtraBold-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Objective Black'), local('Objective-Black'),
    url('./fonts/objective/Objective-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Objective';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Objective Black'), local('Objective-Black-Italic'),
    url('./fonts/objective/Objective-Black-Italic.woff2') format('woff2');
}
